@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'sans','Inter', sans-serif; /* Assuming 'Inter' is imported */
    color: #333; /* Example text color */
  }

  .bg-blue {
    background-color: #85b6fb
  }
  .bg-blue2{
    background-color: #85b6fb36;
  }

  .no-hover-overlay {
    pointer-events: none;
  }
  
  .map-container {
    height: 50vh;
    width: 100%;
  }
  