@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'sans','Inter', sans-serif; /* Assuming 'Inter' is imported */
    color: #333; /* Example text color */
  }
  
  html {
    scroll-behavior: smooth;
  }

  .bg-main {
    background-color: #85b6fb
  }
  .bg-main2{
    background-color: #85b6fb36;
  }

  .no-hover-overlay {
    pointer-events: none;
  }
  
  .map-container {
    height: 50vh;
    width: 100%;
  }
  
  
  .three-dots {
    display: flex;
    flex-direction: row; /* Change from column to row */
    justify-content: space-between;
    width: 14px; /* Adjust the width to accommodate the horizontal layout */
    height: 4px; /* Adjust the height */
  }
  
  .three-dots::before,
  .three-dots::after,
  .three-dots div {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: gray;
    border-radius: 50%;
  }
  
  .custom-quill {
    font-size: 1.5rem; /* Adjust the size as needed */
}

.sun-editor {
  border: none !important
}

.login-background {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/glenview2-b3d45.appspot.com/o/general%2Fweb%2Fstudents%2FDSC_8816.jpg?alt=media&token=fe55c1d3-37b5-46c8-b52e-ea49a15ba4f6');
  background-size: cover;
  background-position: center;
}