@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'sans','Inter', sans-serif; /* Assuming 'Inter' is imported */
    color: #333; /* Example text color */
  }
  
  html {
    scroll-behavior: smooth;
  }

  .bg-blue {
    background-color: #85b6fb
  }
  .bg-blue2{
    background-color: #85b6fb36;
  }

  .no-hover-overlay {
    pointer-events: none;
  }
  
  .map-container {
    height: 50vh;
    width: 100%;
  }
  
  
  .three-dots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 4px;
    height: 14px;
  }
  
  .three-dots::before,
  .three-dots::after,
  .three-dots div {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: gray;
    border-radius: 50%;
  }
  